@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

img {
    display: block;
    width: 100%;
}


h4,
.pad-top {
    color: red;
}

header {
    padding: 1rem;
}

article {
    padding: 1rem;
}

h1 {
    text-align: center;
}

.occsc {
    text-align: center;
}

nav {
    text-align: center;
}

.milli {
    text-align: right;
    padding: .5rem; 
}

.buy {
    text-align: center;
}

.nav {
  padding: 0;
}

.nav li {
  display: block;
}

.nav a,
.nav a:link,
.nav a:visited {
  display: block;

  color: #0074D9;
  text-decoration: none;
}

.nav a:hover,
.nav a:focus,
.nav a:active {
  background-color: #0074D9;
  color: #fff;
}

.logo1 {
    padding: 1rem;
    width: 4.5rem;
    position: absolute;
    margin-top: -2rem;
    right: 1%;
}

.logo2 {
    padding: 1rem;
    width: 5.5rem;
    position: absolute;
    margin-top: -2rem;
}

.js {
    text-align: right;
    color: #565656;
    margin-bottom: .3rem;
}


.occscf {
    padding: 4.5rem;
    position: absolute;
    margin-top: -5rem;
    text-align: center;
    display: block;
    width: 100%;
}

.moments {
    position: absolute;
    display: block;
    width: 1rem;
    right: 91%;
    margin-top: -2%;
}

.figcaption {
    position: absolute;
    display: block;
    margin-top: -5%;
    width: 10rem;
    text-align: center;
}

.both {
    position: absolute;
    display: block;
    width: 9rem;
    right: 2%;
}


.cmoments {
    position: absolute;
    display: block;
    width: 1rem;
    right: 66%;
    margin-top: -2%;
}

.cfigcaption {
    position: absolute;
    display: block;
    margin-top: -5%;
    width: 9rem;
    text-align: right;
}

.date {
    text-align: right;
    color: #565656;
    margin-bottom: -1rem;
}


.thanks {
    text-align: right;
    margin-bottom: -1rem;
    color: #565656;
}





